:root{
      --primary: #7C3AED;
      --background: linear-gradient(
            135deg,
            #2563eb,
            #5d24c0
      );
      --background2: 
            radial-gradient(circle at top left, #1c44bb, transparent 40%),
            radial-gradient(circle at bottom right, #66226f, transparent 40%),
            #0d1019;
      --cards: white;
      --text: #1f2937;
      --success: #22C55E;
      --warning: #F59EDB;
      --danger: #EF4444;
      --font-family: 'Inter', sans-serif; 
}
*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}
body{
      min-height: 100dvh;
      overflow: auto;
      background: var(--background2);
      display: flex;
      flex-direction: column;
      cursor: pointer;
     
}

::-webkit-scrollbar{
      width: 0.1px;
}
header{
      padding: 20px;
      margin-bottom: 20px;
      background: rgba(255, 255 ,255, 0.15);
      backdrop-filter: blur(20px);
      border: 1px solid rgba(255,255,255, 0.2);
      box-shadow: 0px 8px 32px rgba(0,0,0, 0.1);
}
header div{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}
header div button{
      padding: 20px;
      border-radius: 2em;
      border: none;
      background: var(--background);
      color: #0d1019;
      font-size: 20px;
       font: var(--font-family);
      transition: 0.1s all;
}
header div button:hover{
      background: #0d1019;
      color: white;
}
header div .text{
      background: radial-gradient(circle at top left, #1c44bb, transparent 40%),
            radial-gradient(circle at bottom right, #66226f, transparent 40%),
            #0d1019;
      background-clip: text;
      color: transparent;
      display: inline-block;
      position: relative;
}
header div .text::after{
      content: '';
      position: absolute;
      width: 0%;
      height: 4px;
      bottom: 10px;
      left: 0;
      background:radial-gradient(circle at top left, #1c44bb, transparent 40%),
            radial-gradient(circle at bottom right, #66226f, transparent 40%),
            #0d1019;
      border-radius: 10px;
      transition: 0.4s ease;
}
header div .text:hover::after{
      width: 100%;
}

.cursor{
      width: 20px;
      height: 20px;
      border-radius: 50% ;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(255,255,255, 0.15);
      backdrop-filter: blur(10px);
      box-shadow: 
            0 0 20px rgba(59, 130, 246, 0.4)
            0 0 40px rgba(59, 130, 246, 0.2);
      pointer-events: none;
      transform: translate(-50%, -50%);
      transition: transform 0.1s ease;
}

/*STYLE THE MAIN-HEADER*/
main{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
}
.main-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
      position: relative;
}

.main-header #input-task{
      padding: 20px 80px 20px 10px;
      background: rgba(255, 255 ,255, 0.15);
      backdrop-filter: blur(20px);
      border: 1px solid rgba(255,255,255, 0.2);
      box-shadow: 0px 8px 32px rgba(0,0,0, 0.1);
      border-radius: 2em;
      border: none;
      width: 70%;
      caret-color: rgb(109, 109, 214);
      margin-left: 15%;
}
.main-header button{
      position: absolute;
      height: 100%;
      top:50%;
      right: 0px;
      transform: translateY(-50%);
      padding: 8px 12px;
      border-radius: 20px;
      background:var(--background) ;
      cursor: pointer;
      border: none;
      transition: 0.4s ease
}
.main-header button:hover{
      background: black;
      color: white;
}
/* #input-task::after{
     
} */
#input-task:focus{
      outline: none;
      border: 1px solid rgb(109, 109, 214);
}
#input-task::placeholder{
      color: rgb(109, 109, 214);
}
#filter-options, #filter-task{
      background: rgba(255, 255 ,255, 0.15);
      backdrop-filter: blur(20px);
      border: 1px solid rgba(255,255,255, 0.2);
      box-shadow: 0px 8px 32px rgba(0,0,0, 0.1);
      border: none;
      padding: 20px 10px;
      color: rgb(109, 109, 214);
}

.task-lists{
      display:none;
      flex-direction: column;
      background: transparent;
      margin: 20px;
      padding: 20px 5px;
      border-radius: 20px;
      flex-grow: 1;
      gap: 10px;
}
.task-list{
      display: flex;
      flex-direction: row;
      margin: 10px;
      padding: 20px;
      background: rgba(0, 0, 0, 0.264);
      box-shadow: 0px 8px 32px rgba(0,0,0, 0.1);
      color: rgb(223, 196, 236);
      backdrop-filter: blur(20px);
      border-radius: 30px;

}
.task-lists-completed{
      display: none;
      flex-direction: column;
      background: transparent;
      margin: 20px;
      padding: 20px 5px;
      border-radius: 20px;
      flex-grow: 1;
      gap: 10px;
}
.task-list-completed{
      display: flex;
      flex-direction: row;
      margin: 10px;
      padding: 20px;
      background: rgba(0, 0, 0, 0.264);
      box-shadow: 0px 8px 32px rgba(0,0,0, 0.1);
      color: rgb(223, 196, 236);
      backdrop-filter: blur(20px);
      border-radius: 30px;
}
#showCompleted{
      padding: 10px 20px;
      border-radius: 20px;
      background: var(--background);
      color: #0d1019;
      font-size: 16px;
      font-family: var(--font-family);
      transition: 0.1s all;
      margin-bottom: 10px;
      margin-left: 20px;
      border: none;
}
.check-button{
      position: relative;
      border-radius: 50px;
      width: 20px;
      height: 20px;
      /* background: rgba(255, 255 ,255, 0.15);
      border: 1px solid rgba(255,255,255, 0.2); */
      margin-bottom: 10px;
      margin-right: 10px;
}
.check-button::after{
      position: absolute;
      content: '';
}
.list-container{
      flex-grow: 1;
}
.active{
      display: block;
}

/*RESOPNSIVE DESIGN*/
@media(max-width: 600px) {
     .main-header #input-task{
            width: 100%;
            margin-left: 0px;
      }
      
}
